[MASTER]
disable=missing-docstring, invalid-name, line-too-long, too-few-public-methods, bad-continuation, locally-disabled, too-many-instance-attributes, too-many-arguments, c-extension-no-member

[SIMILARITIES]

# Minimum lines number of a similarity.
min-similarity-lines=5
